.nav
      ul
        li.home
          a(href="/") 
            i.fas(class=['fa-home'])
        li.about
          a(href="/about") About
        li.news
          a(href="/proto") Prototype
        li.final
          a(href="/final") Final 
