/* global variables */
:root{
  --content-width: 1000px;
  --breakpoint: 799px;
  --nav-height: 70px;
  --nav-background: #262626;
  --nav-font-color: #ffffff;
  --link-hover-color: #2581DC;
}
html, body{
  margin:0;
  padding:0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: blueviolet;*/
  font-family: 'Gugi', cursive;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Background */
.container{
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
  /*background-color: darkblue;*/
  z-index: -999;
  position: absolute;

  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow:hidden;
}

.container .background-canvas{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

/* content */
.content{
  padding: 20px 0 0 20px;
}
.content h1 {
  padding:20px;
}

/* About page */
article.about-content{
  border: 1px solid black;
  border-radius: 10px;
  margin: 45px 10px 10px 10px;
  padding: 5px;
  background-color: rgb(250, 250, 250);
}

article.about-content p {
  text-indent: 5%;
}

article.about-content p.title {
  text-indent: 0;
  text-decoration: underline;
  font-weight: 700;
}

article.about-content a {
  text-decoration: none;
}

article.about-content ul {
  text-indent: 3%;
}

article.about-content ul li {
  list-style: none;
}


.nav{
  opacity: 0.5;
}
.nav li {
  font-family: inherit, 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: auto;
  border-bottom: 1px solid #888;
  padding: 2px;
  width: auto;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  padding: 10px;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
main {
  height: 100%;
  display: flex;
  margin: 50px 20px 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h1 {
  font-size: 3em;
  font-weight: 100;
  color: black;
  margin: 0;
}
main h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 0;
}
main h3 {
  font-size: 1.5em;
  font-weight: 100;
  margin-top: 0;
}
main h4 {
  font-size: 3em;
  font-weight: 100;
  margin-top: 35%;
  text-align: center;
  color: white;
  text-decoration: underline overline;
}
main a {
  font-size: 1.5em;
  font-weight: 300;
  color: #f44;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}


